<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>valentin</id>
  <fullName>Valentin chabrier</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <name>blueocean-github-domain</name>
            <description>blueocean-github-domain to store credentials by BlueOcean</description>
            <specifications>
              <io.jenkins.blueocean.rest.impl.pipeline.credential.BlueOceanDomainSpecification plugin="blueocean-pipeline-scm-api@1.14.0"/>
            </specifications>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <list>
            <com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
              <scope>USER</scope>
              <id>github</id>
              <description>GitHub Access Token</description>
              <username>valentin</username>
              <password>{AQAAABAAAAAwexTeB56m0qvGNo6kjCpbjw4maB38Z5DhmgE/mBaIsif4ISyPqcDvyRoOoy4gM3iIRhuz525owiqdGKMg5yZ3GA==}</password>
            </com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
          </list>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.66">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.1">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>b2a9512fc24ca308</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$pC12jukRvY679.1MmlKhnOKPqG6O6GoCZIgp/aPSSSMi4dtwiDQU6</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.23">
      <emailAddress>valentin.chabrier@zenika.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1553244516086</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.4">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.2">
      <data class="concurrent-hash-map">
        <entry>
          <string>train_models/master</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>train_models/model_2</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
  </properties>
</user>